.Influencer-header{
    display: flex;
    justify-content: space-between;
    background-color: ;
}
.Influencer-header-button{
    display: flex;
    
}
.Influencer-header-button li{ 
   margin: 10px;

}