
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* shared section
 */
*{
    font-family: "Lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Work sans", sans-serif;  
    
 
}


/* header */
.Influencer-header{
    display: flex;
    justify-content: space-between;
    margin: 4rem;
    background-color: ;
    
}
.Influencer-header-button{
    display: flex;
    
}
.Influencer-header-button li{
    list-style: none;
}
.Influencer-header-button li a{ 
    margin: 10px;
    text-decoration: none;
    color: #424242

}